
/* CSS Document */

 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
position: fixed;
width: 100%;
top: 0;
}

li {
float: left;
font-size: 28px;
}

li a {
display: block;
color: white;
text-align: center;
padding: 12px 18px; 
text-decoration: none;
}

li a:hover {
background-color: #111;
}

li a:hover:not(.active) {
	background-color: black;
}

#center1 {
	text-align: center;
	margin: 70px;
	font-size: 25px;
}
